### Arquivos de ambiente ###
.env              # Variáveis sensíveis
.env.local        # Overrides locais
.env*.local       # Outros ambientes locais

### Docker ###
docker-compose.override.yml
**/.dockerignore
**/Dockerfile
**/docker-compose.yml

### Logs ###
*.log
logs/